@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --font-satoshi: "Satoshi", sans-serif;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

body {
  @apply antialiased [text-rendering:optimizeLegibility] [font-smoothing:antialiased];
  font-family: var(--font-satoshi);
  background-color: rgb(28, 28, 28);
  border: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
